<header
  class="flex w-full items-center justify-between border-b border-border-secondary bg-surface-primary px-3 py-4 gap-4"
>
  <h1 class="text-base font-semibold text-text-primary">Create product</h1>
  <button
    type="button"
    class="flex h-8 w-8 items-center justify-center text-text-primary focus:outline-none cursor-pointer"
    aria-label="Close"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="var(--color-text-primary)"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>
</header>
