/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-brand-primary: #0e9e73;
  --color-border-brand: #0e9e73;
  --color-primary: #101828;
  --color-secondary: #475467;
  --color-disabled: #98a2b3;
  --color-info-strong: #05205e;
  --color-neutral-secondary: #98a2b3;
  --color-surface-primary: #ffffff;
  --color-surface-secondary: #f9fafb;
  --color-surface-brand-secondary: #e7f5f1;
  --color-surface-info-primary: #edf2ff;
  --color-border-primary: #d0d5dd;
  --color-border-secondary: #eaecf0;
  --color-border-info: #bbd1ff;

  --shadow-card:
    0 2px 4px -2px rgba(16, 24, 40, 0.02),
    0 4px 16px -1px rgba(16, 24, 40, 0.06);

  --shadow-input: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);

  --shadow-sm:
    0px 1px 2px rgba(16, 24, 40, 0.05), 0px 1px 3px rgba(16, 24, 40, 0.08);
}

body {
  background-color: var(--color-surface-secondary);
}

/* Remove number input spinners */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
